header{
    margin: 20px auto;
    width:480px;
    text-align: center;

}

input{
    display: block;
    margin: 0 auto 20px;
}


main{
    margin: 20px auto;
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.col{

}


/* @media (min-width: 600px){

    main{
        margin: 20px auto;
        width: 500px;
        display: flex;
        justify-content: space-between;

    }

    .col{
        width: 32%;

    } */
