header{
    margin: 20px auto;
    width:480px;
    text-align: center;

}

input{
    display: block;
    margin: 0 auto 20px;
}


main{
    margin: 20px auto;
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.col{

}

.hopList{
    display: inline-block;
    list-style-type: none;
    padding: 0 4px;
}

.breweryBeers, .hopList{
    cursor: pointer;
}
.breweryBeers:hover, .hopList:hover{
    color:red;
}

.hopModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: rgba(192,192,192,0.8);
}

.hopDisplay{
    position:fixed;
    width:50%;
    margin:20% auto;
    height: 100px;
    background-color: white;

}

/* @media (min-width: 600px){

    main{
        margin: 20px auto;
        width: 500px;
        display: flex;
        justify-content: space-between;

    }

    .col{
        width: 32%;

    } */
